aside > img {
    width: 100%;
    height: auto;
}

main{
    text-align: center;
}

main > h1 {
    color: var(--secondary-color-project);
}

main > p > em {
    color: var(--secondary-color-project);
}


.back_to_home{
    color: var(--secondary-color-project);
    background-color: none !important;
    outline: 1px solid var(--primary-color-project) !important;
    letter-spacing: 1.2px;
}

.back_to_home :hover {
    color: var(--primary-color-project);
    background-color: none !important;
    outline: 1px solid var(--secondary-color-project) !important;
}